@page
@model PrivacyModel
@{
    ViewData["Title"] = "Informações";
}
<h1 class="text-light shadow">@ViewData["Title"]</h1>

<p class="text-light margin-text">Contatos</p>
<p class="text-light margin-text">E-mail: adamwendril@gmail.com</p>
<p class="text-light margin-text">Telefone: (31) 991312928</p>
